<!DOCTYPE html>
<html lang="en">
<head>
	{{ include ../partials/head }}
</head>
<body class="container">

	<header>
		{{ include ../partials/header }}
	</header>

	<main>
		<div class="row">
			<div class="col-sm-8">
			
				<div class="jumbotron">
					<h1>time 5 min</h1>
					<p>Log do servidor</p>
				</div>
				
			</div>
			<div class="col-sm-4">
				
				<div class="well">
					<h3>HD servidor</h3>
					<h3></h3>
				</div>

			</div>
		</div>
	</main>

	<footer>
		{{ include ../partials/footer }}
	</footer>
	
</body>
</html>