<table id="products">
    <thead>
        <tr>
            <th>Tipo</th>
            <th>Data</th>
            <th>Descricao</th>
            <th>Assignee on</th>
        </tr>
    </thead>
    <tbody>
        {{ for(var i=0; i < posts.length; i++) { }} 
        <tr class="parent">
            <td>
                <i class="fa {{= posts[i].body.metadata.icon}}" aria-hidden="true"> </i>
            </td>
            <td>{{= posts[i].updatedAt}}</td>
            <td>
                <a href="#"> Descricao do error</a>
            </td>
            <td >
                <i class="material-icons button edit"></i>
                <a href="" title="Assignee">
                    <i class="fa fa-share-square-o" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
            <tr >
                
                <td colspan="4">
                        <pre>  {{= posts[i].body.error}}</pre>
                </td>
                
            </tr>
            {{ } }}
    </tbody>
</table>